<div class="text-center">
  <h1>Editing Machine</h1>
  <%= link_to 'Back', machines_path %>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render 'form', machine: @machine %>
  </div>
</div>
